:root {
  --color-beige: #f2ebdf;
  --color-verde: #1e4d3b;
  --color-coral: #d96b43;
  --color-terracota: #c85a32;
  --color-terracota-oscuro: #b24a28;
  --color-texto: #1e4d3b;
  --color-rojo: #a63824;
  --color-rosa: #f2ebdf;
}