@import './styles/variables.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-beige);
  color: var(--color-texto);
  font-family: 'Fredoka', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
}